PEPA_DATA_DIR=/app/data
PEPA_N8N_TOKEN=pepa-n8n-2026
PEPA_N8N_TENANT_ID=tenant-demo
PEPA_N8N_WEBHOOK_URL=
PEPA_PUBLIC_DOMAIN=pepa.tavarestech.cloud
PEPA_DATABASE_URL=
PEPA_DATABASE_SSL=require
PEPA_DATABASE_SCHEMA=pepa
PEPA_OBJECT_STORAGE_BUCKET=
PEPA_OBJECT_STORAGE_REGION=sa-east-1
PEPA_OBJECT_STORAGE_ENDPOINT=
PEPA_OBJECT_STORAGE_ACCESS_KEY_ID=
PEPA_OBJECT_STORAGE_SECRET_ACCESS_KEY=
PEPA_OBJECT_STORAGE_PUBLIC_BASE_URL=
PEPA_OBJECT_STORAGE_FORCE_PATH_STYLE=true
PEPA_OBJECT_STORAGE_PREFIX=pepa
PEPA_OBJECT_STORAGE_MIRROR_LOCAL=false
