PEPA_DATA_DIR=
PEPA_N8N_TOKEN=
PEPA_N8N_TENANT_ID=tenant-demo
PEPA_N8N_WEBHOOK_URL=
PEPA_PUBLIC_DOMAIN=pepa.tavarestech.cloud
PEPA_SMTP_HOST=
PEPA_SMTP_PORT=587
PEPA_SMTP_SECURE=false
PEPA_SMTP_USER=
PEPA_SMTP_PASS=
PEPA_SMTP_FROM=
